@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

body {
  background-color: #f8f9fa;
  max-width: 100vw;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  display: flex;
  max-width: 100%;

  justify-content: space-between;
  align-items: center;
  background: rgb(34, 54, 34);
  font-size: 1rem;
}
.nav-menu {
  display: flex;
}
.nav-menu-item {
  margin: 1rem;
  list-style: none;
}
.nav-menu-item > a {
  text-decoration: none;

  font-size: 1.2rem;
}

.nav-menu-item > a {
  text-decoration: none;
  color: white;
}

.navbar-btn {
  background-color: rgb(34, 54, 34);
  border: 0.1px solid white;
  padding: 0.8rem 2rem;
  margin: 0 10px;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
}
.navbar-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(34, 54, 34);
}

#logo-title {
  color: white;
  margin-left: 1rem;
}

.container {
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  background-color: white;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.2px solid rgb(212, 212, 212);
}
#login-form > input {
  width: 50%;
  height: 2rem;
  margin: 10px 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  outline: none;
}

#login-btn {
  padding: 0.8rem 1.2rem;

  background-color: rgb(34, 54, 34);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
